<div class='row text-center'>
  <h1> Las mejores películas del momento </h1>
  <br>
</div>
<div class='row'>
  <ul>
    <% page.posts.each(function(post){ %>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="<%- url_for(post.path) %>">
                <%= post.title %> - 
            </a>
            <%= date(post.date, 'YYYY/M/D') %>
          </h3>
        </div>
        <div class="panel-body">
          <%- post.content %>
        </div>
      </div>

    <% }) %>
  </ul>
</div>